.svg-marker-dims {
	width: 512px;
	height: 512px;
}

.svg-minus-dims {
	width: 16px;
	height: 16px;
}

.svg-plus-dims {
	width: 16px;
	height: 16px;
}

.svg-search-dims {
	width: 15px;
	height: 16px;
}

.svg-triangle-down-dims {
	width: 12px;
	height: 16px;
}

.svg-triangle-left-dims {
	width: 6px;
	height: 16px;
}

.svg-triangle-right-dims {
	width: 6px;
	height: 16px;
}

.svg-triangle-up-dims {
	width: 12px;
	height: 16px;
}

